<p id="notice"><%= notice %></p>

<p>
  <strong>Tweet:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user %>
</p>

<p>
  <strong>Likes Users:</strong>
  <% @tweet.users_likes.each do |user| %>
    <%= image_tag(user.profile_picture) %>
  <% end%>
</p>



<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
