<div class="row">
  <div class="col-lg-12">
      <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Log in</h1>
        </div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          
          <div class="form-group row">
              <div class="col-sm-12 mb-6 mb-sm-0">
                  <%= f.email_field :email, autocomplete: "email", class: 'form-control form-control-user', placeholder: 'Email' %>
              </div>
          </div>

          <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-user', placeholder: 'Password' %>
              </div>
              <div class="col-sm-6">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-user', placeholder: 'Repeat Password' %>
              </div>
          </div>
          <%= f.submit "Log in ", class: 'btn btn-primary btn-user btn-block' %>
          <% end%>
        <hr>
        
        
      </div>
  </div>
</div> 

<%= render "devise/shared/links" %>


